:root{
    --body-fonts:monospace;
    --headings:monospace
}

html{
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*{
    box-sizing: inherit;
}

body{
 font-family: var(--body-fonts);
 margin: 0;
}

ul,ol{
    list-style:none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

h1,h2,h3{
    font-family: var(--headings);
    font-weight: 700;
}

img{
    max-width: 100%;
}

.image{
    width: 100px;
    margin: auto ;
}


/* clases reutilizables */

.container{
    max-width: 1024px;
    padding: 0 1rem;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header .container{
    height: 150px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo__img{
    width: 50px;
    height: 50px;
}

.logo__text{
    font-family: var(--headings);
    font-weight: 400;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
}

.text--bold{
    font-weight: 700;
}

.nav__list{
    display:flex;
    gap: 1.5rem;
    color: white;
}

.nav__link{
    font-size: 1.1rem;
    color: white;
}

.nav__item:hover .nav__link{
    color:rgb(37, 185, 156);
}

.hero{
    background-image: url(https://images2.alphacoders.com/119/thumb-1920-1191759.jpg);
    background-size:cover;
    background-position: center;
    color: white;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.34);
}

.hero .container{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero__title{
    font-size: 1.75rem;
    margin: 0;
    margin-bottom: 1rem;
}

.blog{
    padding: 50px 0
}

.blog__title{
    font-size: 2rem;
}

.blog__article{
    
}

.blog__info{
    padding: 10px;
}

.blog__name{
    font-size: 1.5rem;
}

.blog__link{
    color: black;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    display: block;
    width: 100%;
    padding: .75rem 1.5rem;
    border-radius: 8px;
    margin-top: 1.5rem;
    background-color: rgba(229, 168, 98, 0.274);
}

.blog__articles{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.parallax__image{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('https://source.unsplash.com/random/1920×1080/?pets');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.image__botton{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}

/* adoption */
.adoption{
    padding: 50px 0;
    text-align: center;
}

.adoption__title{
    font-size: 2.5rem;
}

/* footer */
.footer{
    padding-bottom: 50px
}

.footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem
}

.footer .logo__text, .footer .nav__link{
    color: black;
}

@media (min-width: 768px){

    .header .container {
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
    }

    .nav__link{
        font-size: 1.25rem;
    }

    .hero .container{
        height: 600px;
    }

    .blog__articles .blog__article:nth-child(odd){
        flex-direction: row-reverse;
    }

    .blog__article{
        display: flex;
        align-items: center;
        width: 100%;
        gap: 2rem
    }

    .blog__image{
        width: 50%;
        height: 400px;
        
    }
    .blog__image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    .blog__info{
        width: 50%;
    }

    .blog__link{
        width: max-content;
    }

    .hero__title{
        font-size: 3rem;
    }

    .hero__description{
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px){
    .container{
        margin: auto;
    }
}
